---
import Layout from "@/layouts/Layout.astro";
import LegalNotice from "@/content/legal/nl/aviso-legal.md";
---

<Layout title="Wettelijke kennisgevingen | ALC Valet Parking Alicante" lang="es">
    <main class="container my-5">
        <LegalNotice />
    </main>
</Layout>