---
import Layout from '@/layouts/Layout.astro';

import Carousel from "@/components/Carousel.astro";

import promo01 from '@/assets/home/promo-01.webp';
import promo02 from '@/assets/home/promo-02.webp';
import promo03 from '@/assets/home/promo-03.webp';
---

<Layout title="ALC Valet Parking Alicante | PARKING AEROPUERTO ALICANTE">
	<Carousel />
<div class="container mb-3">
  <div class="row row-cols-1 row-cols-md-3 mt-md-4">
    <div class="d-flex flex-column align-items-center mt-0" style="padding:40px; background-color:#dd5500;">
      <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-calculator-fill"
        style="width: 60px; color:#ffffff; padding-bottom: 20px;" viewBox="0 0 16 16">
        <path
          d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2zm2 .5v2a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5v-2a.5.5 0 0 0-.5-.5h-7a.5.5 0 0 0-.5.5m0 4v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5M4.5 9a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zM4 12.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5M7.5 6a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zM7 9.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5m.5 2.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zM10 6.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5m.5 2.5a.5.5 0 0 0-.5.5v4a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-4a.5.5 0 0 0-.5-.5z" />
      </svg>
      <div class="text-white text-center">
        <h2>Tarieven berekenen</h2>
        <p>Controleer je prijs gemakkelijk.</p>
      </div>
      <a href="/reservas" class="btn btn-outline-light border-2 fw-light">BEREKEN JE TARIEF</a>
    </div>

    <div class="d-flex flex-column align-items-center bg-primary" style="padding:40px;">
      <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-droplet" viewBox="0 0 16 16"
        style="width: 60px; color:#ffffff; padding-bottom: 20px;">
        <path fill-rule="evenodd"
          d="M7.21.8C7.69.295 8 0 8 0q.164.544.371 1.038c.812 1.946 2.073 3.35 3.197 4.6C12.878 7.096 14 8.345 14 10a6 6 0 0 1-12 0C2 6.668 5.58 2.517 7.21.8m.413 1.021A31 31 0 0 0 5.794 3.99c-.726.95-1.436 2.008-1.96 3.07C3.304 8.133 3 9.138 3 10a5 5 0 0 0 10 0c0-1.201-.796-2.157-2.181-3.7l-.03-.032C9.75 5.11 8.5 3.72 7.623 1.82z" />
        <path fill-rule="evenodd"
          d="M4.553 7.776c.82-1.641 1.717-2.753 2.093-3.13l.708.708c-.29.29-1.128 1.311-1.907 2.87z" />
      </svg>
      <div class="text-white text-center">
        <h2>Eersteklas buitenwassen</h2>
        <p>Beschikbaar in onze aanvullende services.</p>
      </div>
      <a href="/servicios-adicionales" class="btn btn-outline-light border-2 fw-light">OVERIGE DIENSTEN</a>
    </div>

    <div class="d-flex flex-column align-items-center"
      style="padding:40px; background-color:#ff8833; border-radius:0px;">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6"
        style="width: 60px; color:#ffffff; padding-bottom: 20px;">
        <path d="M12 15a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" />
        <path fill-rule="evenodd"
          d="M1.323 11.447C2.811 6.976 7.028 3.75 12.001 3.75c4.97 0 9.185 3.223 10.675 7.69.12.362.12.752 0 1.113-1.487 4.471-5.705 7.697-10.677 7.697-4.97 0-9.186-3.223-10.675-7.69a1.762 1.762 0 0 1 0-1.113ZM17.25 12a5.25 5.25 0 1 1-10.5 0 5.25 5.25 0 0 1 10.5 0Z"
          clip-rule="evenodd" />
      </svg>
      <div class="text-white text-center">
        <h2>Bewaakt parkeren</h2>
        <p>Bewaakte en verzekerde opslag en bewaring van voertuigen.</p>
      </div>
      <a href="/localizacion" class="btn btn-outline-light border-2 fw-light">OVER ONS</a>
    </div>
  </div>
</div>

<div class="container mt-3">
  <p>
    ALC Valet Parking is een jong en dynamisch bedrijf dat werd opgericht in 2012 met een duidelijk doel, namelijk het aanbieden van een kwaliteitsparkeerservice tegen lage kostprijzen. Wij zijn een bedrijf toegewijd aan parkeren, opslaan en bewaren van voertuigen in Alicante met meer dan 15 jaar ervaring in de sector. Onze service is ontworpen voor mensen die met hun eigen voertuig reizen en een complete parkeerservice nodig hebben.
  </p>
</div>

<div class="d-flex justify-content-center align-items-center p-4 bg-primary">
  <h2 class="text-white fs-2 fw-light mb-0">PROMOTIES</h2>
</div>

<div class="container my-5">
  <div class="row row-cols-1 row-cols-md-3">
    <div class="d-flex flex-column">
      <h3 class="fs-4">Speciale Voertuigen</h3>
      <img src={promo01.src} alt="Promo 01" class="mb-3">
      <p class="text-secondary">
        Moet je je caravan, boot, trailer of vrachtwagen voor een kort of lang verblijf stallen? We hebben meer dan 2.500m2 veilige grond in de buurt van de luchthaven van Alicante-Elche.
      </p>
      <a href="mailto:info@alcvaletparking.com"
        class="text-decoration-none fw-medium text-primary">info&#64;alcvaletparking.com</a>
      <div class="d-flex justify-content-end">
        <a href="/localizacion" class="btn btn-outline-dark border-2" style="font-size: .8rem;">MEER INFORMATIE</a>
      </div>
    </div>

    <div class="d-flex flex-column">
      <h3 class="fs-4"><span class="text-primary">Promotie</span> Lange Verblijf</h3>
      <img src={promo02.src} alt="Promo 02" class="mb-3">
      <p class="text-secondary">
        Moet je je auto voor een lang verblijf parkeren op de luchthaven van Alicante-Elche of het treinstation van Alicante? Buiten of overdekte parkeerplaatsen. Basis buitenwassen inbegrepen bij elk verblijf!
      </p>
      <a href="mailto:info@alcvaletparking.com"
        class="text-decoration-none fw-medium text-primary">info&#64;alcvaletparking.com</a>
      <div class="d-flex justify-content-end">
        <a href="/localizacion" class="btn btn-outline-dark border-2" style="font-size: .8rem;">MEER INFORMATIE</a>
      </div>
    </div>

    <div class="d-flex flex-column">
      <h3 class="fs-4 text-primary">Parkeer met Vertrouwen</h3>
      <img src={promo03.src} alt="Promo 03" class="mb-3">
      <p class="text-secondary">
        We bieden bewaakte en beveiligde parkeerplaatsen voor uw gemak. Of het nu voor een kort of lang verblijf is, je voertuig is altijd in veilige handen. We zijn gevestigd in de buurt van de luchthaven van Alicante-Elche en beschikken over buiten- en overdekte parkeerplaatsen, zodat je gemoedsrust verzekerd is.
      </p>
      <a href="mailto:info@alcvaletparking.com"
        class="text-decoration-none fw-medium text-primary">info&#64;alcvaletparking.com</a>
      <div class="d-flex justify-content-end">
        <a href="/localizacion" class="btn btn-outline-dark border-2" style="font-size: .8rem;">MEER INFORMATIE</a>
      </div>
    </div>
  </div>
</div>
</Layout>
