---
import Layout from "@/layouts/Layout.astro";

import heroEmpresa from "@/assets/la-empresa/hero-empresa.webp";
---

<Layout title="Het Bedrijf | ALC Valet Parking Alicante">
    <div
        style={`background-image: url(${heroEmpresa.src});`}
        class="container-fluid empresa-hero"
    >
        <div
            class="d-flex flex-column justify-content-center align-items-center"
            style="position: relative; height: 100%; z-index: 1;"
        >
            <div class="recuadro p-3 mb-1">
                <h2 class="text-white fs-1 fw-bold m-0">ALC VALET PARKING</h2>
            </div>
            <div class="recuadro p-2 mb-3">
                <p class="text-white fs-2 m-0">Snel, handig en veilig!</p>
            </div>
            <a href="/localizacion" class="btn btn-primary text-light"
                >Contact ons</a
            >
        </div>
    </div>
    <div class="d-flex justify-content-center p-4 bg-primary">
        <h1 class="m-0 text-white fs-2">HET BEDRIJF</h1>
    </div>
    <div class="container text-secondary my-5">
        <p class="fs-6" style="text-align:  justify; ">
            <span class="text-primary">ALC Valet Parking</span> is een jong en dynamisch
            bedrijf dat werd opgericht in 2012 met een duidelijk doel, namelijk het
            aanbieden van <span class="text-primary"
                >een kwaliteitsparkeerservice</span
            > tegen lage kostprijzen. Wij zijn een bedrijf toegewijd aan <span
                class="text-primary"
                >parkeren, opslaan en bewaren van voertuigen</span
            > in Alicante met meer dan 15 jaar ervaring in de sector. Onze service
            is ontworpen voor mensen die met hun eigen voertuig reizen en een complete
            parkeerservice nodig hebben.
        </p><p class="fs-6" style="text-align:  justify; ">
            We bieden een parkeerservice <span class="text-primary"
                >met het ophalen en afleveren van het voertuig</span
            > bij de terminal van de <span class="text-primary"
                >Luchthaven Alicante-Elche</span
            >.
        </p><p class="fs-6" style="text-align:  justify; ">
            Op verzoek kunnen we je auto ook ophalen of afleveren bij de <span
                class="text-primary">Estación de Tren Alicante</span
            > siempre que, o bien la entrega o la recogida sea en el Aeropuerto de
            Alicante, consúltenos.
        </p><p class="fs-6" style="text-align:  justify; ">
            We bieden parkeergelegenheid voor <span class="text-primary"
                >korte, middellange en lange termijn</span
            >, We passen ons altijd aan je behoeften aan. Bespaar meer dan <span
                class="text-primary">50%</span
            > met betrekking tot openbare parkeerplaatsen.
        </p><p class="fs-6" style="text-align:  justify; ">
            Van ophalen tot afleveren zal je voertuig <span class="text-primary"
                >gecontroleerd door PROSEGUR en verzekerd door FIATC</span
            > 24 uur per dag. We hebben parkeerplaatsen voor <span
                class="text-primary">parkeergelegenheid binnen en buiten</span
            >. We liggen op slechts 3 minuten van het vliegveld en 10 minuten
            van het treinstation.
        </p><p class="fs-6" style="text-align:  justify; ">
            Als toegevoegde waarde bieden we een reeks extra services voor je
            voertuig, variërend van de <span class="text-primary"
                >handen wassen, interieur schoonmaken, algemene mechanica,</span
            > of breng uw voertuig naar de <span class="text-primary"
                >ITV Applus</span
            > terwijl we het in bewaring houden in onze faciliteiten.
        </p><p class="fs-6" style="text-align:  justify; ">
            Voor ons is de mening en tevredenheid van onze klanten het
            allerbelangrijkste, onze chauffeurs zorgen ervoor dat het ophalen en
            afleveren van je voertuig een prettige ervaring is, <span
                class="text-primary">geen wachttijden, geen gedoe</span
            >.
        </p><p class="fs-6" style="text-align:  justify; ">
            <span class="text-primary">Reserveer uw parkeerplaats</span> en laat
            ons voor de rest zorgen. Onze persoonlijke service garandeert je de beste
            reisoplossing – <span class="text-primary"
                >snel, handig en veilig!</span
            >
        </p>
    </div>
</Layout>

<style>
    .empresa-hero {
        position: relative;
        height: 60vh;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .recuadro {
        background: rgba(0, 0, 0, 0.5);
        text-align: center;
    }
</style>
