---
import Layout from "@/layouts/Layout.astro";
import PrivacyPolicy from "@/content/legal/nl/politica-privacidad.md";
---

<Layout title="Privacybeleid | ALC Valet Parking Alicante">
    <main class="container my-5">
        <PrivacyPolicy />
    </main>
</Layout>