---
import Layout from "@/layouts/Layout.astro";
import CookiePolicy from "@/content/legal/nl/politica-cookies.md";
---

<Layout title="Cookiebeleid | ALC Valet Parking Alicante">
    <main class="container my-5">
        <CookiePolicy />
    </main>
</Layout>