---
import { getLangFromUrl, useTranslatedPath } from "@/i18n/utils";
import Layout from "@/layouts/Layout.astro";

import hero from "@/assets/servicios-adicionales/hero.webp";
import BasicExteriorWash from "@/assets/servicios-adicionales/icons/basic-exterior-wash.astro";
import ProExteriorWash from "@/assets/servicios-adicionales/icons/pro-exterior-wash.astro";
import ProInteriorClean from "@/assets/servicios-adicionales/icons/pro-interior-clean.astro";
import FullPremiumWash from "@/assets/servicios-adicionales/icons/full-premium-wash.astro";
import TransferTerminal from "@/assets/servicios-adicionales/icons/transfer-terminal-service.astro";
import ItvApplus from "@/assets/servicios-adicionales/icons/itv-applus-service.astro";
import Refuel from "@/assets/servicios-adicionales/icons/refuel.astro";
import ChangeOilFilters from "@/assets/servicios-adicionales/icons/change-oil-filters.astro";
import ChangeTires from "@/assets/servicios-adicionales/icons/change-tires.astro";
import ChangeBattery from "@/assets/servicios-adicionales/icons/change-battery.astro";
import AirCondition from "@/assets/servicios-adicionales/icons/air-condition.astro";
import BodyPaintWork from "@/assets/servicios-adicionales/icons/body-paint-work.astro";
import GeneralMech from "@/assets/servicios-adicionales/icons/general-mech.astro";
import OfficialService from "@/assets/servicios-adicionales/icons/official-service.astro";
import LegalServices from "@/assets/servicios-adicionales/icons/legal-services.astro";
import Information from "@/assets/servicios-adicionales/icons/information.astro";

const lang = getLangFromUrl(Astro.url);
const translatePath = useTranslatedPath(lang);
---

<Layout title="Extra diensten | ALC Valet Parking Alicante">
    <div
        class="container-fluid hero"
        style={`background-image: url(${hero.src});`}
    >
        <div
            class="d-flex flex-column justify-content-center align-items-center"
            style="position: relative; height: 100%; z-index: 1;"
        >
            <div class="recuadro p-3 mb-1">
                <h2 class="text-white fs-1 fw-bold m-0">ALC VALET PARKING</h2>
            </div>
            <div class="recuadro p-2 mb-3">
                <p class="text-white fs-2 m-0">
                    Veel meer dan een parkeerplaats!
                </p>
            </div>
            <a href={translatePath("/localizacion")} class="btn btn-primary text-light"
                >Contact ons</a
            >
        </div>
    </div>
    <div class="d-flex justify-content-center p-4 bg-primary">
        <h1 class="m-0 text-white fs-2">EXTRA DIENSTEN</h1>
    </div>
    <div class="container my-5">
        <div class="mb-5">
            <p class="fs-6 text-secondary">
                <span class="text-primary">ALC Valet Parking</span> biedt u niet
                alleen een parkeerdienst, maar ook een breed scala aan aanvullende
                diensten, zodat u zich nergens zorgen over hoeft te maken terwijl
                u onderweg bent.
            </p>
            <p class="fs-6 text-secondary">
                Als je meer informatie wilt over een van de onderstaande
                diensten, stuur dan een e-mail naar <span class="text-primary"
                    >info@alcvaletparking.com</span
                >
            </p>
        </div>

        <div class="row">
            <div
                class="col-12 col-md-3 text-light d-flex flex-column align-items-center text-center"
                style="background-color: #dd5500; padding: 40px;"
            >
                <BasicExteriorWash />
                <h4 class="fs-5 mb-3">Basis Externe Autowasstraat</h4>
            </div>
            <div
                class="col-12 col-md-3 text-light d-flex flex-column align-items-center text-center bg-primary"
                style="padding: 40px;"
            >
                <ProExteriorWash />
                <h4 class="fs-5 mb-3">Pro Externe Autowasstraat</h4>
                <p>
                    Handwas, Banden, kristallen, gepolijste kunststof en banden
                </p>
            </div>
            <div
                class="col-12 col-md-3 text-light d-flex flex-column align-items-center text-center"
                style="background-color: #ff8833; padding: 40px;"
            >
                <ProInteriorClean />
                <h4 class="fs-5 mb-3">Pro Interieurreiniging</h4>
                <p>
                    Stofzuigen, tapijtreiniging, deuren, ramen, interieur polijsten, geurneutralisator
                </p>
            </div>
            <div
                class="col-12 col-md-3 text-light d-flex flex-column align-items-center text-center"
                style="background-color: #ff9955; padding: 40px;"
            >
                <FullPremiumWash />
                <h4 class="fs-5 mb-3">Volledig premium autowassen</h4>
                <p>Integrale reiniging</p>
            </div>
            <div
                class="col-12 col-md-3 text-light d-flex flex-column align-items-center text-center"
                style="background-color: #ff9955; padding: 40px;"
            >
                <TransferTerminal />
                <h4 class="fs-5 mb-3">Transfer naar Terminal 2 Service</h4>
                <p>Afzetten en ophalen van je auto bij verschillende terminals</p>
            </div>
            <div
                class="col-12 col-md-3 text-light d-flex flex-column align-items-center text-center"
                style="background-color: #ff8833; padding: 40px;"
            >
                <ItvApplus />
                <h4 class="fs-5 mb-3">ITV Applus Service</h4>
                <p>Pre ITV,ITV Inspection</p>
            </div>
            <div
                class="col-12 col-md-3 text-light d-flex flex-column align-items-center text-center bg-primary"
                style="padding: 40px;"
            >
                <Refuel />
                <h4 class="fs-5 mb-3">Refueling</h4>
                <p>Diesel, Unleaded</p>
            </div>
            <div
                class="col-12 col-md-3 text-light d-flex flex-column align-items-center text-center"
                style="background-color: #dd5500; padding: 40px;"
            >
                <ChangeOilFilters />
                <h4 class="fs-5 mb-3">Change oil and filters</h4>
                <p>Parts and Spares</p>
            </div>
            <div
                class="col-12 col-md-3 text-light d-flex flex-column align-items-center text-center"
                style="background-color: #dd5500; padding: 40px;"
            >
                <ChangeTires />
                <h4 class="fs-5 mb-3">Change tires</h4>
                <p>Spares</p>
            </div>
            <div
                class="col-12 col-md-3 text-light d-flex flex-column align-items-center text-center bg-primary"
                style="padding: 40px;"
            >
                <ChangeBattery />
                <h4 class="fs-5 mb-3">Change Battery</h4>
                <p>Spares</p>
            </div>
            <div
                class="col-12 col-md-3 text-light d-flex flex-column align-items-center text-center"
                style="background-color: #ff8833; padding: 40px;"
            >
                <AirCondition />
                <h4 class="fs-5 mb-3">Air Conditioning Recharge</h4>
                <p>Transfer to workshop</p>
            </div>
            <div
                class="col-12 col-md-3 text-light d-flex flex-column align-items-center text-center"
                style="background-color: #ff9955; padding: 40px;"
            >
                <BodyPaintWork />
                <h4 class="fs-5 mb-3">Body & Paint work</h4>
                <p>Estimates, Transfer to workshop, etc.</p>
            </div>
            <div
                class="col-12 col-md-4 text-light d-flex flex-column align-items-center text-center"
                style="background-color: #ff8833; padding: 40px; flex-grow: 1;"
            >
                <GeneralMech />
                <h4 class="fs-5 mb-3">General Mechanical</h4>
                <p>
                    Estimates, Transfer to workshop, Parts, Spares, etc.
                </p>
            </div>
            <div
                class="col-12 col-md-4 text-light d-flex flex-column align-items-center text-center bg-primary"
                style="padding: 40px; flex-grow: 1;"
            >
                <OfficialService />
                <h4 class="fs-5 mb-3">Official Service</h4>
                <p>Transfer to Authorised Dealer</p>
            </div>
            <div
                class="col-12 col-md-4 text-light d-flex flex-column align-items-center text-center"
                style="background-color: #dd5500; padding: 40px; flex-grow: 1;"
            >
                <LegalServices />
                <h4 class="fs-5 mb-3">Legal Services</h4>
                <p>Selling, Registration, Taxes, etc.</p>
            </div>
            <div class="col-12 bg-dark">
                <a
                    href={translatePath("/localizacion")}
                    class="fs-4 text-light d-flex justify-content-center p-3 w-100 text-decoration-none"
                >
                    <span class="d-flex align-items-center">
                        <Information />
                    </span>
                    Meer informatie</a
                >
            </div>
        </div>
    </div>
</Layout>

<style>
    .hero {
        position: relative;
        height: 60vh;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
</style>