---
import Layout from "@/layouts/Layout.astro";
import LegalNotice from "@/content/legal/en/aviso-legal.md";
---

<Layout title="Legal notices | ALC Valet Parking Alicante" lang="es">
    <main class="container my-5">
        <LegalNotice />
    </main>
</Layout>