---
import LoginForm from '@/components/auth/LoginForm.svelte';
import { getLangFromUrl } from '@/i18n/utils';
import Layout from '@/layouts/Layout.astro';
import { ui } from "@/i18n/ui";

const lang = getLangFromUrl(Astro.url);
---

<Layout title="Log in | ALC Valet Parking Alicante">
  <main>
    <LoginForm
    client:load
    lang={lang}
    translations={ui[lang]}
    />
  </main>
</Layout>