---
import Layout from "@/layouts/Layout.astro";
import UserProfile from "@/components/auth/UserProfile.svelte";
import { getLangFromUrl } from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url);
---

<Layout title="Mi Perfil - ALC Valet Parking">
  <main class="bg-gray-100">
    <UserProfile client:load lang={lang} />
  </main>
</Layout>
