---
import LoginForm from '@/components/auth/LoginForm.svelte';
import { getLangFromUrl } from '@/i18n/utils';
import Layout from '@/layouts/Layout.astro';

const lang = getLangFromUrl(Astro.url);
---

<Layout title="Iniciar Sesión | ALC Valet Parking Alicante">
  <main>
    <LoginForm
    client:load
    lang={lang}
    />
  </main>
</Layout>